body{
    background:#fff2e3 url() no-repeat center 15px;
}

* {margin: 0; padding: 0;}
#container {
  height: 100%; 
  width:100%; 
  font-size: 0;
}
#container p{
  font-size: 30px;  
}
#lottery-hero1, #lottery-hero2, #lottery-hero3 {
  display: inline-block; 
  *display: inline; 
  zoom: 1; 
  vertical-align: top; 
  font-size: 12px;
}
#lottery-hero1 {width: 33%; }
#lottery-hero2 {width: 33%; }
#lottery-hero3 {width: 33%; }

#wrapper{
    width: 1000px;
    margin:0 auto;
}

#lottery {
  bottom: 10px;
  position: fixed;
  width: 994px;
}

#lottery ul {
    width: 20000px;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
}

#lottery li {
    background-color: #fff;
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
    height: 100px;
}

#lottery li img {
    width: 132px;
    border: 0;
}

#lottery-control {
  height: 14px;
  margin: 40px auto 0;
  width: 1000px;
  font-size: 18px;
}

#lottery-control a{
    float: left;
    font-size: 30px;
    font-weight: 700;
    width: 200px;
}

#lottery-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    width: 994px;
    height: 200px;
}

#lottery-selected {
    border: 2px dashed #ff0;
    bottom: 0;
    height: 80px;
    left: -5px;
    margin: -133px auto 0;
    position: relative;
    width: 142px;
}

.lottery-hero{
    border: medium none;
    width: 300px;
}

.lottery-hero img{
    width: 300px;
}


.byphone #lottery li b {
  display: block;
  margin-top: 16px;
  text-align: center;
  width: 132px;
}

.byphone #lottery-hero {
  background-color: #FFFFFF;
  font-size: 100px;
  margin: 0 auto 20%;
  text-align: center;
  width: 690px;
}